
body {
  margin: 0;
  overflow: hidden;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0px;
}

#editor {
  height: 100%;
  width: 50%;
  border-width: 8px;
  border: solid chocolate;
}

#previewer {
  height: 100%;
  width: 50%;
  border-width: 8px;
  border: solid chocolate;
  overflow-y: scroll;
  padding-left: 6px;
  font-family: -apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}