
body {
  /*margin: 0;*/
  overflow: hidden;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0px;
}

#editor {
  height: 100%;
  width: 50%;
  border-width: 8px;
  border: solid chocolate;
}

#previewer {
  height: 100%;
  width: 50%;
  border-width: 8px;
  border: solid chocolate;
  overflow-y: scroll;
  padding-left: 6px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ace_editor {
  /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;*/
}
